*, html {
	margin:0;
	padding:0;  
}

body { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.website-header {
	text-align: right;
	background-color: black;
	color: white;
	font-weight: bold;
	margin: 0px;
}
.website-header a {
	text-decoration: none;
	color: white;
}

/* main */
.apps {
	/* center */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.apps a:link {
	text-decoration: none;
}

.apps a:visited {
	text-decoration: none;
}

.apps p {
	text-align: center;
}

/* app */
.app-name {
	text-align: center;
	color: black;
	margin:auto;
	width: 50%;
	padding-top: 20px;
}

#app-intro {
	padding:20px;
	margin: auto;
	width: 45%;
}

.screenshots {
	display: flex;
	justify-content: center;

}

.link {
	display: flex;
	justify-content: center;
}

.info {
	position: fixed;
    bottom: 20px;
    left: 20px;
}

.info a {
	padding-right: 10px;
}

/* privacy */
#privacy {
	margin:auto;
	width: 50%;
}

#privacy h1 {
	padding: 20px 0px 20px 0px;
}

ul {
  list-style-type: none;
}

.section {
	padding: 10px;
}

.section h3 {
	padding-bottom: 5px;
}